.diceRow{
  display: flex;
 
  justify-content: center;
  border: 3px solid black;
  width: 700px;
  margin:auto;

}
.dice{
  height:100px;
  width:100px;
  border: 3px solid black;
  border-radius: 15px;
  text-align: center;
  margin:10px;
}

.dice p {
  width:80%;
  margin:auto;

  position: relative;
  top:40%
}

